# Bienvenidos al curso en ciencia de datos!

In [1]:
#Importando las librerias
import pandas as pd
import numpy as np

## Introducción a pandas

### Series

1. Las series son secuencias de valores de una dimencion 
2. Son bastante parecidas a los arreglos 
3. La diferencia es que cuentan con un index

#### Creando series

In [12]:
#Series como arreglos
serie = pd.Series([1, 2, 3, 4, 5])
serie

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
#Series como diccionarios
serieDic = pd.Series({"Perro": 2, "Gato": 3, "Gallina": 4, "Caballo": 5})
serieDic

Caballo    5
Gallina    4
Gato       3
Perro      2
dtype: int64

In [5]:
#Serie de objetos
serieObj = pd.Series(["A", "B", "C", "D"], index=["AA", "BB", "CC", "DD"])
serieObj

AA    A
BB    B
CC    C
DD    D
dtype: object

#### Seleccion,  operaciones matematicas, filtracion y algunos metodos

##### Seleccion

In [6]:
#Seleccion mediante slicing, del index 1 hasta el 3, no se toma el cuenta el 4 o el ultimo valor, a esto se le llama exclusivo
serie[1:4]

1    2
2    3
3    4
dtype: int64

In [9]:
#Seleccion de multiples index, si se van a elegir multiples index es necesario usar doble corchete
serieObj[["AA", "BB"]]

AA    A
BB    B
dtype: object

In [13]:
#Cambio de valor, unicamente especificar el index de valor que se quiere cambiar
print(serie)
serie[0] = 23
serie

0    1
1    2
2    3
3    4
4    5
dtype: int64

0    23
1     2
2     3
3     4
4     5
dtype: int64

##### Operaciones matematicas

operaciones simples


| operacion      | signo          |
| ------------- |-------------:|
| suma     | + |
| resta      | - |
| multiplicacion | *|
| Division | /    |

In [14]:
serie * 2

0    46
1     4
2     6
3     8
4    10
dtype: int64

**operaciones mas avanzadas**

In [15]:
np.exp(serie)

0    9.744803e+09
1    7.389056e+00
2    2.008554e+01
3    5.459815e+01
4    1.484132e+02
dtype: float64

In [16]:
np.sin(serie)

0   -0.846220
1    0.909297
2    0.141120
3   -0.756802
4   -0.958924
dtype: float64

##### Algunos metodos

In [17]:
#Desplegando el index
serie.index

RangeIndex(start=0, stop=5, step=1)

In [18]:
serieObj.index

Index(['AA', 'BB', 'CC', 'DD'], dtype='object')

In [19]:
#Despliega los valores de la serie como un numpy array
serie.values

array([23,  2,  3,  4,  5])

**Nota que serie.index y serieObj.index tienen diferentes resultados, aunque los 2 sean index uno es del tipo RangeIndex y el otro solo Index**

In [20]:
#Checa si se encuentra el 1 dentro de la serie
1 in serie

True

**Filtrando**

In [22]:
#Al momento de comparar una serie se crea una serie de booleanos, esta la puedes usar para filtrar datos
serie > 3

0     True
1    False
2    False
3     True
4     True
dtype: bool

In [23]:
#Hemos usado la serie de arriba para filtrar, los unicos index que se toman son los que contienen el true en la serie de booleanos
serie[serie > 3]

0    23
3     4
4     5
dtype: int64

### DataFrame

1. Compuesto de 2 dimenciones
2. sus filas son sus indices y sus columnas sus variables

#### Creando un DataFrame

In [24]:
#Creando un dataframe con Series
df = pd.DataFrame({"Animales": serieDic, "Letras": serieObj})
df

         Animales Letras
AA            NaN      A
BB            NaN      B
CC            NaN      C
Caballo       5.0    NaN
DD            NaN      D
Gallina       4.0    NaN
Gato          3.0    NaN
Perro         2.0    NaN

In [25]:
#Creando un dataframe con diccionarios
dfDic = pd.DataFrame({"Animales": ["Gallina", "Perro", "Tortuga", "Caballo", "Gato"], "Cantidad": [1, 2, 3, 4, 5]})
dfDic

  Animales  Cantidad
0  Gallina         1
1    Perro         2
2  Tortuga         3
3  Caballo         4
4     Gato         5

#### Seleccion,  operaciones matematicas, filtracion y algunos metodos