# Bienvenidos al curso en ciencia de datos!

In [1]:
#Importando las librerias
import pandas as pd
import numpy as np

## Introducción a pandas

### Series

1. Las series son secuencias de valores de una dimencion 
2. Son bastante parecidas a los arreglos 
3. La diferencia es que cuentan con un index

#### Creando series

In [24]:
#Series como arreglos
serie = pd.Series([1, 2, 3, 4, 5])
serie

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
#Series como diccionarios
serieDic = pd.Series({"Perro": 2, "Gato": 3, "Gallina": 4, "Caballo": 5})
serieDic

Caballo    5
Gallina    4
Gato       3
Perro      2
dtype: int64

In [5]:
#Serie de objetos
serieObj = pd.Series(["A", "B", "C", "D"], index=["AA", "BB", "CC", "DD"])
serieObj

AA    A
BB    B
CC    C
DD    D
dtype: object

In [22]:
#indices pares
serieNum = pd.Series([5, 6, 12, 45, 7], index=[0, 2, 4, 6, 8])
serieNum

0     5
2     6
4    12
6    45
8     7
dtype: int64

#### Seleccion,  operaciones matematicas, filtracion y algunos metodos

##### Seleccion

In [6]:
#Seleccion mediante slicing, del index 1 hasta el 3, no se toma el cuenta el 4 o el ultimo valor, a esto se le llama exclusivo
serie[1:4]

1    2
2    3
3    4
dtype: int64

In [9]:
#Seleccion de multiples index, si se van a elegir multiples index es necesario usar doble corchete
serieObj[["AA", "BB"]]

AA    A
BB    B
dtype: object

In [13]:
#Cambio de valor, unicamente especificar el index de valor que se quiere cambiar
print(serie)
serie[0] = 23
serie

0    1
1    2
2    3
3    4
4    5
dtype: int64

0    23
1     2
2     3
3     4
4     5
dtype: int64

##### Operaciones matematicas

operaciones simples


| operacion      | signo          |
| ------------- |-------------:|
| suma     | + |
| resta      | - |
| multiplicacion | *|
| Division | /    |

In [14]:
serie * 2

0    46
1     4
2     6
3     8
4    10
dtype: int64

**Suma de 2 series: Index Aligment**

In [25]:
#Se usan los indices para poder suma
serie + serieNum

0     6.0
1     NaN
2     9.0
3     NaN
4    17.0
6     NaN
8     NaN
dtype: float64

In [26]:
serie.add(serieNum, fill_value=0)

0     6.0
1     2.0
2     9.0
3     4.0
4    17.0
6    45.0
8     7.0
dtype: float64

**operaciones mas avanzadas**

In [15]:
np.exp(serie)

0    9.744803e+09
1    7.389056e+00
2    2.008554e+01
3    5.459815e+01
4    1.484132e+02
dtype: float64

In [16]:
np.sin(serie)

0   -0.846220
1    0.909297
2    0.141120
3   -0.756802
4   -0.958924
dtype: float64

##### Algunos metodos

In [17]:
#Desplegando el index
serie.index

RangeIndex(start=0, stop=5, step=1)

In [18]:
serieObj.index

Index(['AA', 'BB', 'CC', 'DD'], dtype='object')

In [19]:
#Despliega los valores de la serie como un numpy array
serie.values

array([23,  2,  3,  4,  5])

**Nota que serie.index y serieObj.index tienen diferentes resultados, aunque los 2 sean index uno es del tipo RangeIndex y el otro solo Index**

In [20]:
#Checa si se encuentra el 1 dentro de la serie
1 in serie

True

**Filtrando**

In [22]:
#Al momento de comparar una serie se crea una serie de booleanos, esta la puedes usar para filtrar datos
serie > 3

0     True
1    False
2    False
3     True
4     True
dtype: bool

In [23]:
#Hemos usado la serie de arriba para filtrar, los unicos index que se toman son los que contienen el true en la serie de booleanos
serie[serie > 3]

0    23
3     4
4     5
dtype: int64

### DataFrame

1. Compuesto de 2 dimenciones
2. sus filas son sus indices y sus columnas sus variables

#### Creando un DataFrame

In [24]:
#Creando un dataframe con Series
df = pd.DataFrame({"Animales": serieDic, "Letras": serieObj})
df

         Animales Letras
AA            NaN      A
BB            NaN      B
CC            NaN      C
Caballo       5.0    NaN
DD            NaN      D
Gallina       4.0    NaN
Gato          3.0    NaN
Perro         2.0    NaN

In [3]:
#Creando un dataframe con diccionarios
dfDic = pd.DataFrame({"Animales": ["Gallina", "Perro", "Tortuga", "Caballo", "Gato"], "Cantidad": [1, 2, 3, 4, 5], "Granja": ["A", "A", "B", "C", "B"]})
dfDic

  Animales  Cantidad Granja
0  Gallina         1      A
1    Perro         2      A
2  Tortuga         3      B
3  Caballo         4      C
4     Gato         5      B

#### Seleccion,  operaciones matematicas, filtracion y algunos metodos

##### Seleccion

Para seleccionar en un dataframe se especifica el nombre de la columna que se quiere seleccionar

In [9]:
#Seleccion con el punto
#Crea una serie
dfDic.Animales

0    Gallina
1      Perro
2    Tortuga
3    Caballo
4       Gato
Name: Animales, dtype: object

In [4]:
#Seleccion de una columna mediante brackets
#Crea una serie
dfDic["Animales"]

0    Gallina
1      Perro
2    Tortuga
3    Caballo
4       Gato
Name: Animales, dtype: object

In [5]:
#Seleccion de multiples columnas
#Para seleccionar multiples columnas recuerda usar double brackets
dfDic[["Animales", "Cantidad"]]

  Animales  Cantidad
0  Gallina         1
1    Perro         2
2  Tortuga         3
3  Caballo         4
4     Gato         5

**Seleccion con .loc e .iloc**

.loc
1. se usan los nombres del indice y las columnas
2. el slicing es inclusivo, incluye la ultima columna o indice

In [7]:
dfDic.loc[1:3, ["Animales", "Cantidad"]]

  Animales  Cantidad
1    Perro         2
2  Tortuga         3
3  Caballo         4

.iloc
1. Se usan las posiciones de las columnas y del indice
2. el slicing es exclusivo, excluye el ultimo numero

In [8]:
#Mira que va del 1 al 3 sin incluir al 3, al igual en las columnas
dfDic.iloc[1:3, 0:2 ]

  Animales  Cantidad
1    Perro         2
2  Tortuga         3

**Creando una nueva columna**

In [10]:
dfDic["Clase"] = ["Aves", "Mamifero", "Reptiles", "Mamifero", "Mamifero"]
dfDic

  Animales  Cantidad Granja     Clase
0  Gallina         1      A      Aves
1    Perro         2      A  Mamifero
2  Tortuga         3      B  Reptiles
3  Caballo         4      C  Mamifero
4     Gato         5      B  Mamifero

**Operaciones Matematicas**

In [18]:
dfNum = pd.DataFrame(np.random.RandomState(42).randint(0, 10, (5, 4)),
                  columns=['A', 'B', 'C', 'D'])
dfNum

   A  B  C  D
0  6  3  7  4
1  6  9  2  6
2  7  4  3  7
3  7  2  5  4
4  1  7  5  1

In [19]:
np.sin(dfNum)

          A         B         C         D
0 -0.279415  0.141120  0.656987 -0.756802
1 -0.279415  0.412118  0.909297 -0.279415
2  0.656987 -0.756802  0.141120  0.656987
3  0.656987  0.909297 -0.958924 -0.756802
4  0.841471  0.656987 -0.958924  0.841471

**Index aligment in DataFrames**

In [27]:
dfNum2 = pd.DataFrame(np.random.RandomState(42).randint(0, 10, (5, 4)),
                  columns=['A', 'B', 'D', 'E'])
dfNum + dfNum2

    A   B   C   D   E
0  12   6 NaN  11 NaN
1  12  18 NaN   8 NaN
2  14   8 NaN  10 NaN
3  14   4 NaN   9 NaN
4   2  14 NaN   6 NaN

In [29]:
dfNum.add(dfNum2, fill_value=0)

    A   B    C   D    E
0  12   6  7.0  11  4.0
1  12  18  2.0   8  6.0
2  14   8  3.0  10  7.0
3  14   4  5.0   9  4.0
4   2  14  5.0   6  1.0

##### Filtracion

In [30]:
dfDic[dfDic["Clase"] == "Mamifero"]

  Animales  Cantidad Granja     Clase
1    Perro         2      A  Mamifero
3  Caballo         4      C  Mamifero
4     Gato         5      B  Mamifero

In [31]:
#Usando el .loc
dfDic.loc[dfDic["Clase"] == "Mamifero", ["Animales", "Cantidad"]]

  Animales  Cantidad
1    Perro         2
3  Caballo         4
4     Gato         5

**Algunos metodos**

In [32]:
#Transpose el DataFrame
dfDic.T

                0         1         2         3         4
Animales  Gallina     Perro   Tortuga   Caballo      Gato
Cantidad        1         2         3         4         5
Granja          A         A         B         C         B
Clase        Aves  Mamifero  Reptiles  Mamifero  Mamifero

In [33]:
#Crea un numpy array de los valores del DataFrame
dfDic.values

array([['Gallina', 1, 'A', 'Aves'],
       ['Perro', 2, 'A', 'Mamifero'],
       ['Tortuga', 3, 'B', 'Reptiles'],
       ['Caballo', 4, 'C', 'Mamifero'],
       ['Gato', 5, 'B', 'Mamifero']], dtype=object)

In [34]:
dfDic.index

RangeIndex(start=0, stop=5, step=1)

In [35]:
dfDic.columns

Index(['Animales', 'Cantidad', 'Granja', 'Clase'], dtype='object')

In [36]:
dfDic.columns.name = "DataFramColumns"
dfDic

DataFramColumns Animales  Cantidad Granja     Clase
0                Gallina         1      A      Aves
1                  Perro         2      A  Mamifero
2                Tortuga         3      B  Reptiles
3                Caballo         4      C  Mamifero
4                   Gato         5      B  Mamifero

In [37]:
dfDic.index.name = "dataFrameIndex"
dfDic

DataFramColumns Animales  Cantidad Granja     Clase
dataFrameIndex
0                Gallina         1      A      Aves
1                  Perro         2      A  Mamifero
2                Tortuga         3      B  Reptiles
3                Caballo         4      C  Mamifero
4                   Gato         5      B  Mamifero

In [39]:
#Para borrar una columna
del dfDic["Clase"]
dfDic

DataFramColumns Animales  Cantidad Granja
dataFrameIndex
0                Gallina         1      A
1                  Perro         2      A
2                Tortuga         3      B
3                Caballo         4      C
4                   Gato         5      B

In [40]:
"Clase" in dfDic.columns

False